version: "3"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: squid
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
      # Uncomment for logging all SQL statements
      # command: ["postgres", "-c", "log_statement=all"]
#  api:
#    image: squid-emotes
#    environment:
#      - DB_NAME=squid
#      - DB_PORT=5432
#      - DB_HOST=db
#      - DB_PASSWORD=postgres
#      - GQL_PORT=4350
#      - ETH_SEPOLIA_RPC=https://eth-sepolia.blastapi.io/afef2dbf-bb1c-4ff7-88b0-3d74a60e04ce
#    ports:
#      # GraphQL endpoint at port 4350
#      - "4350:4350"
#    command: ["sqd", "serve:prod"]
#    depends_on:
#      - db
#  processor:
##    image: squid-emotes
#    build:
#      context: .
#      dockerfile: Dockerfile
#    environment:
#      - DB_NAME=squid
#      - DB_PORT=5432
#      - DB_HOST=db
#      - DB_PASSWORD=postgres
#    ports:
#      # prometheus metrics exposed at port 3000
#      - "3000:3000"
#    command: ["node", "lib/networks/eth-sepolia/main.js"]
#    depends_on:
#      - db